### 使用流程
1. 建立資料庫、表格

In [1]:
# # # 建立資料庫
import sqlite3  
import pandas as pd
  
db_name = 'data/cpu_and_gpu.db'
conn = sqlite3.connect(db_name)  
  
# print("Opened database successfully")

In [3]:
# 建立表格

table_name = 'cpu'
conn.execute(f'''CREATE TABLE {table_name} 
       (ID             INT     , 
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL          TEXT    ,
       BRAND          TEXT    
       );''')

table_name = 'gpu'
conn.execute(f'''CREATE TABLE {table_name} 
       (ID             INT     , 
       NAME           TEXT    , 
       PRICE          INT    ,
       MODEL          TEXT    ,
       BRAND          TEXT    
       );''')

conn.close()

OperationalError: table gpu already exists

## 增加欄位/減少欄位

In [3]:
# 查詢測試
conn = sqlite3.connect(db_name)  
sql1=f'''
select *
from cpu
'''
test=pd.read_sql(sql1,conn)
conn.close()
test.head()

Empty DataFrame
Columns: [ID, NAME, PRICE, MODEL, BRAND]
Index: []

In [4]:
# 查詢目前DB中所有的表格
conn = sqlite3.connect(db_name)  
sql1=f'''
SELECT type, name, sql FROM sqlite_master WHERE type IN ('table', 'view');
'''
test=pd.read_sql(sql1,conn)
conn.close()
test

    type name                                                sql
0  table  cpu  CREATE TABLE cpu \n       (ID             INT ...
1  table  gpu  CREATE TABLE gpu \n       (ID             INT ...